.counter {
  border: 1px solid #e8e8e8;
  width: 61.94px;
  height: 44px;
  padding: 14px 20px 14px 20px;

  i.fa-caret-up {
    cursor: pointer;
    font-size: 12px;
  }

  i.fa-caret-down {
    cursor: pointer;
    font-size: 12px;
  }
}
