.swiper-container {
  position: relative;

}

.out-nav {
  position: relative;
  padding: 0 3.5rem;

  .swiper {
    position: static !important;
  }
}

.swiper-thumbs {
  .swiper-slide {
    opacity: 0.5;
  }

  .swiper-button-prev {
    left: 0 !important;
  }

  .swiper-button-next {
    right: 0 !important;
  }

  .swiper-slide-thumb-active {
    opacity: 1;
  }
}

.swiper-button-next,
.swiper-button-prev {
  background-color: $primary;
  color: $white !important;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  z-index: 1000;
}

.main-swiper {
  padding-bottom: 2rem !important;

  .swiper-pagination-bullets {
    bottom: 0 !important;

    .swiper-pagination-bullet {
      width: 10px !important;
      height: 10px !important;
      margin: 0 6px !important;
      background-color: transparent;
      border: 1px solid $primary;
    }
  }

  &.dashes {
    .swiper-pagination-bullets {
      .swiper-pagination-bullet {
        width: 15px !important;
        height: 2px !important;
        margin: 0 4px !important;
        border-radius: 1px;
      }
    }
  }

  &.chevron {
    .swiper-button-next {
      &::after {
        content: "\f138" !important;
        font-family: 'FontAwesome' !important;
        font-size: 30px;
        font-weight: 200;
      }
    }

    .swiper-button-prev {

      &::after {
        content: "\f137" !important;
        font-family: 'FontAwesome' !important;
        font-size: 30px;
        font-weight: 200;
      }
    }
  }

  &.long-arrow {
    .swiper-button-next {
      padding: 25px;

      &::after {
        content: "\f061" !important;
        font-family: 'FontAwesome' !important;
        font-size: 30px;
        font-weight: 200;
      }
    }

    .swiper-button-prev {
      padding: 25px;

      &::after {
        content: "\f060" !important;
        font-family: 'FontAwesome' !important;
        font-size: 30px;
        font-weight: 200;
      }
    }
  }
}



.swiper-pagination-bullet-active {
  background: $dark-gray !important;
}

.thumb-swiper {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;

  .swiper-wrapper {
    align-items: center;
  }

  .main-swiper {
    height: 75%;
    width: 100%;
  }

  .thumbnail-swiper {
    height: 25%;
    width: 100%;
    padding: 0 2rem;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: $primary;
    background-color: transparent;
    padding: 0;

    &::after {
      font-family: 'FontAwesome' !important;
      color: $primary !important;
      font-size: 30px;
      font-weight: 200;
    }
  }

  .swiper-button-next {
    margin-inline-end: 0;

    &::after {
      content: "\f054" !important;
    }
  }

  .swiper-button-prev {
    margin-inline-start: 0;

    &::after {
      content: "\f053" !important;
    }
  }
}

@include for-phone {
  .main-swiper {
    .swiper-pagination-bullets {
      bottom: 0 !important;

      .swiper-pagination-bullet {
        width: 8px !important;
        height: 8px !important;
        margin: 0 5px !important;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

[data-layout-dir="rtl"] {
  .main-swiper {
    &.chevron {
      .swiper-button-next {


        &::after {
          content: "\f137" !important;

        }
      }

      .swiper-button-prev {

        &::after {
          content: "\f138" !important;

        }
      }
    }

    &.long-arrow {
      .swiper-button-next {


        &::after {
          content: "\f060" !important;

        }
      }

      .swiper-button-prev {

        &::after {
          content: "\f061" !important;

        }
      }
    }
  }

  .thumb-swiper {

    .swiper-button-next {
      margin-inline-end: 0;
      right: auto !important;
      left: 0 !important;

      &::after {
        content: "\f053" !important;
      }
    }

    .swiper-button-prev {
      margin-inline-start: 0;
      left: auto !important;
      right: 0 !important;

      &::after {
        content: "\f054" !important;
      }
    }
  }

}
