.formMaker {

  h3 {
    padding: 0.3rem 0.1rem !important;
  }

  h6 {
    font-size: 0.875rem;
    line-height: 20px;
  }

  .label {
    font-size: 0.875rem;
  }

  .password {
    font-size: 0.875rem;
  }

  .forget-password {
    text-decoration-line: underline !important;
  }

}
