.square-ratio {
  padding-bottom: 100%;
  background-position: center;
  background-size: cover;
}

.standard-ratio {
  padding-bottom: 75%;
  background-position: center;
  background-size: cover;
}

.classic-ratio {
  padding-bottom: 68%;
  background-position: center;
  background-size: cover;
}
.cinemascope-ratio {
  padding-bottom: 42%;
  background-position: center;
  background-size: cover;
}
