.list-disc {
  list-style-type: disc;
  list-style-position: inside;
}

.list-circle {
  list-style-type: circle;
  list-style-position: inside;
}

.list-decimal {
  list-style-type: decimal;
  list-style-position: inside;
}

.list-square {
  list-style-type: square;
  list-style-position: inside;
}

.list-initial {
  list-style-type: initial;
  list-style-position: inside;
}

.list-armenian {
  list-style-type: armenian;
  list-style-position: inside;
}

.list-zero-decimal {
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
}

.list-unset {
  list-style-type: unset;
}

.list-none {
  list-style-type: none;
}
