input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.check-box {
  cursor: pointer;
  .box-label {
    .active-img {
      display: none;
    }
  }
  .box-radio {
    &:checked + .box-label {
      background-color: $primary;
      color: $white !important;
      cursor: initial;
      i {
        color: $white;
      }
      .active-img {
        display: block;
      }
      .default-img {
        display: none;
      }
    }
  }
}

.address-type {
  &.box-label {
    color: $primary;
    cursor: pointer;
  }
}

.form-control:focus{
  box-shadow: none;
}
.form-check-input{
  border: 1px solid $primary;
}

input[type="checkbox"]{
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-form-check-bg);
  background-image: var(--bs-form-check-bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: var(--bs-border-width) solid $primary;
  print-color-adjust: exact;
}
